.main_wrapper {
	width: 1500px;
	height: 1500px;
}

body {
	font-family: 'Satisfy', cursive;

}

a {
	text-decoration: none;
	color: black;
}
.header {
	width: 1500px;
	height: 50px;
	background-color: black;
	position: fixed;
	top:0;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	z-index: 10;
}

#logo {
	float:left;
	width: 300px;
	height: 110px;
	position: relative;
	top: -25px;
	background-image: url("images//FragMag.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
	margin-left: 30px;
}

#vertical_line {

	height: 50px;
	width: 2px;
	border-left: 3px solid white;
	margin-left: 4px;
	float: left;
}


.moto {
	width: 100%;
	height: 3%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 32px;
	
}


#separator {
	width: 100%;
	height: 3%;
}

.ad {
	
	width: 60%;
	height: 300px;
	background-image: url("images//marc_slide.png");
	background-size: contain;
	margin-left: 20%;
}

hr {
	background-color: black;
}

#space {
	width: 40px;
	height: 30px;
}

.menu p{ 
	display: inline;
	font-size: 32px;
	position: relative;
	left: 15%;
}

.menu {
	width:20%;
	height: 50px;
	position: fixed; 
	top: 50px;
	left: 40%;
	z-index: 2;
	background-color: rgba(0,0,0, 0.5);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#vertical_line_black {

	height: 50px;
	width: 2px;
	border-left: 3px solid black;
	margin-left: 4px;
	float: right;
}

#contact_us {
	width: 100%;
	text-align: center;
	font-size: 64px;
	margin-top: -50px;
}

.contacts_wrapper {
	width: 100%;
	height: 800px;

}

.contact_information {
	width: 40%;
	float: right;
	height: 300px;
	margin: 20px;
}
.container { 
	width: 80%;
	height: 700px;
	margin-left: 10%;
	padding-top: 5%;
	background-size: contain;
	background-repeat: no-repeat;
}

#final {
	font-size: 32px;	
}

.contact_form {
	width: 400px;
	height: 300px;
	padding-left: 20px;
	float: left;
}

#email_form {
	width: 300px;
}

#message_form {
	width: 300px;
	height: 50px;
	margin-top: 5%;
	overflow-y: scroll;
}

#submit_email {
	margin-left: 15%;
	margin-top: 10px;
}

::-webkit-input-placeholder {
	vertical-align: top;
	text-align: left;
}

#contact_information {
	width: 300px;
	height: 400px;
	
	font-size: 23px;
}

#where {
	font-size: 32px;
}

#email {
	position: relative;
	top: -130%;
	left: 100%;
	font-size: 23px;
}

#email input {
	width:  150px;
}

#submit_email {
	background-color: black;
	color: white;
	border: 1px solid rgb(83,101,93);
}


#map {
	float: right;
	position: absolute;
	top: 800px;
	right: 90px;
}


.footer {
	width: 1400px;
	height: 100px;
	position: relative;
	left: 3.5%;
	top: 10%;
	background-color: rgba(0,0,0,0.8);
}

#copy { 
	width: 300px;
	height: 25px;
	position: relative;
	left: 40%;
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: white;
	top: 30%;
}

#github, #facebook, #instagram {
	width: 3%;
	float: left;
	margin-left: 2%;
	margin-top: 1%;
}
